.username-padding {
    padding-left: 10px;
}

.m-body .m-content {
    padding-top: 0px !important;
}

.red {
    color: red;
}
.date_register {
    display: block !important;
    width: 100% !important;
    background: #ffffff !important;
    text-transform: capitalize !important;
    font-size: 15px !important;
    line-height: 26px !important;
    color: #888888 !important;
    padding: 12px 15px !important;
    border-radius: 7px !important;
    height: 50px !important;
    margin-bottom: 15px !important;
    border: 1px solid #e0e0e0 !important;
}
